# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Frontend
node_modules/
dist/
build/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Test / cache
.pytest_cache/
coverage/